@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
}

@layer components {
  .p-14-medium {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .p-12-medium {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}
