node_modules
.env
log
.DS_Store
.idea
packages/input-scan/globalConfig.json
packages/output-scan/globalConfig.json
*.deploy.sh

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
