VITE_APP_SOCKET_IO_URL=api.dotreasury.com
VITE_APP_SCAN_SERVER=https://api.dotreasury.com

VITE_APP_SCAN_SERVER=http://localhost:3213/
VITE_APP_SOCKET_IO_URL=http://localhost:3213/

VITE_APP_SCAN_SERVER=https://staging-api.dotreasury.com/
VITE_APP_SOCKET_IO_URL=https://staging-api.dotreasury.com/

VITE_APP_ECOSYSTEM_API_END_POINT=https://eco-api.dotreasury.com/graphql
VITE_APP_SUBSQUARE_API_END_POINT=https://polkadot.subsquare.io/api

VITE_APP_ASSET_HUB_ENDPOINTS=wss://polkadot-asset-hub-rpc.polkadot.io;wss://statemint.api.onfinality.io/public-ws;wss://dot-rpc.stakeworld.io/assethub
VITE_APP_HYDRATION_ENDPOINTS=wss://rpc.hydradx.cloud;wss://hydradx.paras.ibp.network;wss://hydration.dotters.network;wss://hydradx-rpc.dwellir.com
VITE_APP_IDENTITY_SERVER_HOST=https://id.statescan.io

VITE_APP_CHAIN=kusama
